<h2>About</h2>
<p>Ambitious young developer currently employed by SAP.</p>

<h2>Key Interests</h2>
<ul>
  <li>iOS & macOS Development</li>
  <li>Docker, Kubernetes</li>
  <li>Jenkins, Continuous Integration</li>
  <li>Python</li>
  <li>Web Development</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a target="_blank" href="https://www.linkedin.com/in/lszlkss/">Professional Profile</a>
  </li>
  <li class="main-list-item">
      <span class="fa fa-envelope-square fa-lg main-list-item-icon"></span>
      <a href="mailto:ifj.kisslaszlo@gmail.com">Email Me</a>
    </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a target="_blank" href="https://github.com/lszlkss/">GitHub</a>
  </li>
</ul>
